<!DOCTYPE html>
<div lang="en" xmlns:th="www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css" />
        <script
                src="http://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>

        <title>Withdraw Form</title>

    </head>
    <div class="container">

        <div th:fragment="navbar" class="navbar  navbar-light bg-faded">
            <div class="navbar-brand">

                <a class="navbar brand" href="/login"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class=""><a href="#"></a></li>
                        <li class=""><a href="#"></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <form th:action="@{/account/withdraw}" method="post">
            <div class="form-group" >
                <button class="btn btn-lg btn-primary btn-block" type="submit">Withdraw</button>
                <select class="form-control" th:value="${accountType}" name="accountType" id="accountType" required="required">
                    <option disabled="disabled" selected="selected"> -- select your account -- </option>
                    <option>Primary</option>
                    <option>Savings</option>
                </select>
                <br />
            </div>


            <form th:action="@{/withdraw}" method="post">

                <div><label>Account number : <input type="number" name="account"/></label></div>
                <div><label>Amount Withdraw : <input type="number" name="$withdraw"/></label></div>
                <div><input type="submit" value="submit"/></div>
            </form>


            <input type="hidden"
                   name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>


        </form>


        <div th:fragment="footer">
            <a href="transactiondetails.html"></a>Mi Bank.makes me rich</div>


    </div>
</div>

</body>
</html>